.Synonyms {
  padding: 0;
  margin-bottom: 30px;
  margin-top: 3px;
}

.Synonyms li {
  font-size: 13px;
  display: inline;
  margin-right: 10px;
  padding: 5px 10px;
  text-decoration: none;
  border: solid 1px grey;
  border-radius: 15px;
}
